.img-thumbnail {
	width: 200px;
	height: 200px;
}

.category-label {
	font-size: 2em;
}

a:hover {
    text-decoration: none;
    color: red;
}

#left-offset {
	margin-left: -2rem;
}

/* Breakpoint to adjust spacing for small devices */
@media (max-width: 374px) {

	#left-offset {
		margin-left: 0rem;
	}

	.navbar * {
		font-size: 0.8rem;
	}

	.blankout {
		display: none;
	}
}