{% extends "main.html" %} {% block content %} {% include "navbar.html" %}
<!-- Categories Icons -->
<h1 class="text-center mt-3">Categories</h1>
<div class="container mt-5" id="icons">
  <div class="row">
  	{% for category in categories %}
    <div class="col-sm-4 my-3" align="center">
      <a href="{{ url_for('showItems', category_name=category.name) }}">
				<img src="/static/images/icons/{{ category.name }}.svg" class="img-thumbnail border-0">
				<br>
				<span class="category-label">{{ category.name }}</span>
			</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}