<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Edit Item</h1>
	<form action="{{ url_for('editItemInfo', category_name=category_name, item_name=item.name) }}" method="post">
		<label for="itemName">Name</label><br>
			<input type="text" name="itemName" rows="5" cols="40" placeholder="{{ item.name }}" required><br><br>
		<label for="itemDescription">Description</label><br>
			<textarea types="text" name="itemDescription" rows="10" cols="60" placeholder="{{ item.description }}" required></textarea><br><br>
			<input type="submit" name="editItem" value="Update">
			<a href="{{ url_for('showItems', category_name=category_name) }}">Cancel</a>
	</form>
</body>
</html>