<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="{{ url_for('showCategories') }}">
	    <img src="https://image.flaticon.com/icons/svg/167/167739.svg" width="30" height="30" class="d-inline-block align-top" alt="">
	    Catalog
	  </a>
	  {% if not logged_in %}
	  <a class="btn btn-primary" href="{{ url_for('showLogin')}}" role="button">Login</a>
	  {% endif %}
	  {% if logged_in %}
	  <a class="btn btn-primary" href="{{ url_for('gdisconnect')}}" role="button">Logout</a>
	  {% endif %}
	</nav>
	<a href="{{ url_for('newItem') }}">Create New Item</a>
	<h1>New Item</h1>
	<form action="{{ url_for('newItem') }}" method="post">
		<label for="itemName">Name</label><br>
			<input type="text" name="itemName" rows="5" cols="40" required><br><br>
		<label for="itemDescription">Description</label><br>
			<textarea types="text" name="itemDescription" rows="10" cols="60" required></textarea><br><br>
		<label for="category">Category</label><br>
			<select name="category">
				<option value="Baseball">Baseball</option>
				<option value="Soccer">Soccer</option>
				<option value="Basketball">Basketball</option>
				<option value="Tennis">Tennis</option>
				<option value="Football">Football</option>
			</select>
			<br><br>
			<input type="submit" name="newItem" value="Create">
			<a href="{{ url_for('showCategories') }}">Cancel</a>
	</form>
</body>
</html>